# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables (IMPORTANT)
.env
.envrc

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Database
*.db

# OS files
.DS_Store
Thumbs.db